<%@ CodeTemplate Language="C#" FileName="Entity"%>
<%@ Property Name="MainTable" Default="Context" Description="主表" Type="String" %>
<%@ Property Name="Author" Description="主表" Type="String" %>
/***************************************************************************
 * 
 *       功能：     <%=FormatTableName %>Entity
 *       作者：     <%=Author %>
 *       日期：     <%=System.DateTime.Now.ToString()%>
 * 
 * *************************************************************************/
using System;
using JG.Core.Cache;
using PetaPoco;
using Scm.Component.Common;

namespace <%=Namespace %>
{
    /// <summary>
    /// <%=Comment %>
    /// </summary>
    [Serializable]
    [TableName("<%=TableName %>")]
    [PrimaryKey("<%=PrimaryKey %>", autoIncrement = false)]
    [CacheSetting(false, PropertyNameOfDBShard = "ClientID", PropertyNameOfCacheShard = "ClientID", PropertyNamesOfArea = "ClientID", ExpirationPolicy = EntityCacheExpirationPolicies.Stable)]
    public class <%=FormatTableName %>Entity : ScmBaseEntity
    {
        public static <%=FormatTableName %>Entity New()
        {
            var entity = new <%=FormatTableName %>Entity();
            entity.Init();
            <%foreach (var columnInfo in TableInfo.ColumnInfos) {%>
            entity.<%=columnInfo.Code %> = string.Empty;
            <%}%>

            return entity;
        }

        #region 属性
        <%foreach (var columnInfo in TableInfo.ColumnInfos) {%>

        /// <summary>
        /// <%=columnInfo.Comment %>
        /// </summary>
        public <%=columnInfo.SystemType %> <%=columnInfo.Code %> { get; set; }
        <%}%>

        #endregion

        #region 扩展属性

        #endregion

    }
}